

h1{
    text-align: center;
    font-size: 50px;
}

* {
    margin: 10px;
    padding: 0;
}

.alert-info {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    font-size: medium;
}

li {
    list-style: none;
    text-align: center;
    background-color: lightgray;
    width: 100%;
    margin-bottom: 10px;
    height: 2em;
    font-size: 40px;

}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
img {
    width: 100%;
}

h2 {
    margin-bottom: 25px;
    margin-top: 25px;
}


footer{
    position: relative;
    bottom: 10px;
}


@media(min-width: 400px){
    ul{
        display: flex;
        flex-direction: row;
        float: right;
        /*padding: 0;*/
        /*margin: 0;*/
    }

    h1{
        display: flex;
        justify-content: flex-start;
        /*padding: 0;*/
        /*margin: 0;*/
        float: left;
    }

    .alert-info{
        display: none;
    }
    li {
        background-color: white;
    }
    .main{
        float:left;
        width:60%;
    }
    footer {
        clear: both;
        margin-top: 500px;
    }
    #social-media-links{
        float:right;
    }
}